.container {
    width: 470px;
    height: auto;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    border-radius: 10px;
}

.elemento_1 {
    width: auto;
    padding: 20px;
}

.elemento_1 button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.elemento_1 label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.elemento_1 input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.elemento_1 input::placeholder {
    font-size: 15px;
    font-weight: bold;
}

.elemento_1 button {
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
}

.elemento_1 button:hover {
    background-color: blue;
}

.elemento_1 input.elemento_vacio,
.elemento_1 textarea.texto_vacio,
.elemento_1 select.elemento_sin_seleccion {
    border: red 3px solid;
}

.elemento_1 select {
    width: 425px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.elemento_1 form div input[type="radio"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    accent-color: blue;
}

.elemento_1 form div label {
    font-size: 20px;
    margin-left: 15px;
    font-weight: normal;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    color: blue;
}

.elemento_1 form textarea {
    width: 400px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    resize: none;
    outline: none;
}

.elemento_1 form textarea::placeholder {
    font-size: 15px;
    font-weight: bold;
}

.elemento_1 span {
    display: block;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 15px;
}